@model ChuckJoke

<br />

<div class="mx-auto text-center image-fluid" style="width: 200px;">
    <img src="~/pics/chuck1.png" width="250"/>
    @*<img src="@Model.PicPath" width="250" />*@
</div>

<br />

<div class="text-center">
    <h1>Chuck Norris Jokes</h1>
</div>

<br />

<div class="mx-auto text-center text-wrap" style="width: 80%;">
    <h3>@Model.Value</h3>
</div>

<br />

<div style="width: 20%; margin: 0 auto" class="text-center">
    <div class="form-row align-items-center">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <input type="submit" value="New Joke" class="btn btn-primary" />
        }
    </div>
</div>